{% extends 'index.html.twig' %}




{% block page_content %}


    <div class="card">
        <div class="card-header">

            <div class="row">
                <div class="col-8">
                    <h3>Endereço</h3>
                </div>
                <div class="col-4 text-right">
                    <button type="button" class="btn btn-secondary"
                            onclick="window.location.href='{{ url(routeToRedirect, {id: ref.id}) }}'">
                        <i class="fas fa-sync" aria-hidden="true"></i> Voltar
                    </button>
                </div>
            </div>

        </div>

        <div class="card-body">


            {% form_theme formEndereco 'bootstrap_4_horizontal_layout.html.twig' %}

            {{ form_start(formEndereco) }}

            {{ form_row(formEndereco._token) }}
            {{ form_row(formEndereco.id) }}

            {{ form_row(formEndereco.tipoEndereco) }}

            <div class="form-group row">
                {{ form_label(formEndereco.cep) }}
                <div class="col-sm-5">
                    {{ form_errors(formEndereco.cep) }}
                    {{ form_widget(formEndereco.cep) }}
                    {{ form_help(formEndereco.cep) }}
                </div>
                <div class="col-sm-5">
                    <button type="button" value="Consultar" class="btn btn-warning"
                            id="pesquisar_cep">
                        <i class="fas fa-undo" aria-hidden="true"></i> Consultar
                    </button>
                </div>
            </div>


            {{ form_row(formEndereco.logradouro) }}
            {{ form_row(formEndereco.numero) }}
            {{ form_row(formEndereco.complemento) }}
            {{ form_row(formEndereco.bairro) }}
            {{ form_row(formEndereco.cidade) }}
            {{ form_row(formEndereco.estado) }}

            <div class="row">
                <div class="col text-right">
                    <button type="submit" class="btn btn-primary btn-lg" value="Salvar">
                        <i class="fas fa-save" aria-hidden="true"></i> Salvar
                    </button>
                </div>
            </div>

            {{ form_end(formEndereco, {'render_rest': true}) }}

        </div>

    </div>



{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/bse/enderecoForm.js') }}"></script>
{% endblock %}