{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}


    <div class="container">
        <div class="card">
            <div class="card-header">

                <div class="row">
                    <div class="col-8">
                        <h3>Contato</h3>
                    </div>
                    <div class="col-4 text-right">
                        <button type="button" class="btn btn-secondary"
                                onclick="window.location.href='{{ url('bse_pessoa_form', {id: pessoa.id}) }}'">
                            <i class="fas fa-sync" aria-hidden="true"></i> Voltar
                        </button>
                    </div>
                </div>

            </div>

            <div class="card-body">


                {% form_theme formContato 'bootstrap_4_horizontal_layout.html.twig' %}

                {{ form_start(formContato) }}
                {{ form_widget(formContato) }}

                <div class="row">
                    <div class="col text-right">
                        <button type="submit" class="btn btn-primary" value="Salvar">
                            <i class="fas fa-save" aria-hidden="true"></i> Salvar
                        </button>
                    </div>
                </div>


                {{ form_end(formContato) }}

            </div>

        </div>
    </div>



{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/bse/pessoaEnderecoForm.js') }}"></script>
{% endblock %}
