{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}


    <div class="card">
        <div class="card-header">

            <div class="row">
                <div class="col-8">
                    <h3>Pessoa</h3>
                </div>
                <div class="col-4 text-right">
                    <button type="button" class="btn btn-secondary"
                            onclick="window.location.href='{{ url('bse_pessoa_list') }}'">
                        <i class="fas fa-sync" aria-hidden="true"></i> Listar
                    </button>
                </div>
            </div>

        </div>

        <div class="card-body">

            <ul class="nav nav-tabs" id="principal" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="cabecalho-tab" data-toggle="tab" href="#cabecalho" role="tab"
                       aria-controls="cabecalho" aria-selected="true">Dados</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="enderecos-tab" data-toggle="tab" href="#enderecos" role="tab"
                       aria-controls="enderecos" aria-selected="false">Endereços</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="contatos-tab" data-toggle="tab" href="#contatos" role="tab"
                       aria-controls="contatos" aria-selected="false">Contatos</a>
                </li>
            </ul>

            <div class="form-group row">
            </div>


            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="cabecalho" role="tabpanel" aria-labelledby="cabecalho-tab">

                    {% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

                    {{ form_start(form) }}
                    {{ form_widget(form) }}

                    <div class="row">
                        <div class="col text-right">
                            <button type="submit" class="btn btn-primary" value="Salvar">
                                <i class="fas fa-save" aria-hidden="true"></i> Salvar
                            </button>
                        </div>
                    </div>


                    {{ form_end(form) }}


                </div>

                {% if e.id %}

                    <div class="tab-pane fade" id="enderecos" role="tabpanel" aria-labelledby="enderecos-tab">
                        {{ include('Base/pessoaEnderecoList.html.twig') }}
                    </div>
                    <div class="tab-pane fade" id="contatos" role="tabpanel" aria-labelledby="contatos-tab">
                        {{ include('Base/pessoaContatoList.html.twig') }}
                    </div>

                {% endif %}

            </div>

        </div>
    </div>



{% endblock %}


{% block down_scripts %}
    <script src="{{ asset('build/bse/pessoaForm.js') }}"></script>
{% endblock %}