{% extends '@CrosierLibBase/index.html.twig' %}




{% block page_content %}


    <div class="card">
        <div class="card-header">

            <div class="row">
                <div class="col-8">
                    <h3>Menus</h3>
                </div>
                <div class="col-4 text-right">
                    <a role="button" class="btn btn-primary" href="{{ url('cfg_entMenu_form') }}" title="Novo">
                        <i class="fas fa-file" aria-hidden="true"></i>
                    </a>
                </div>
            </div>

        </div>

        <div class="card-body">


            <div id="simpleList" class="list-group">

                <table class="table table-striped table-hover display compact">
                    <thead>
                    <tr>
                        <th scope="col">Menu</th>
                        <th scope="col"></th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for item in dados %}
                        <tr>
                            <td>{{ item.label }}</td>
                            <td class="text-right">
                                <button type="button" class="btn btn-sm btn-secondary"
                                        onclick="window.location.href='{{ url('cfg_entMenu_list', {'entMenu': item.id}) }}'">
                                    <i class="fas fa-cogs" aria-hidden="true"></i>
                                </button>
                                <button type="button" class="btn btn-sm btn-primary"
                                        onclick="window.location.href='{{ url('cfg_entMenu_form', {'id': item.id}) }}'">
                                    <i class="fas fa-wrench" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>


        </div>
    </div>





{% endblock %}


{% block down_scripts %}
    {{ encore_entry_script_tags('Config/entMenuList') }}
{% endblock %}