{% extends '@CrosierLibBase/form.html.twig' %}


{% block btns %}

    <button type="button" class="btn btn-primary" title="Novo"
            onclick="window.location.href='{{ url('cfg_entMenu_form', {'pai': e.pai|default('') != '' ? e.pai.id : ''}) }}'">
        <i class="fas fa-file" aria-hidden="true"></i>
    </button>

    {% if e.id|default('') != '' %}

        {% if e.paiUUID|default('') == '' %}
            {# é um menu raíz #}
            <a role="button" class="btn btn-secondary" title="Listar menus raíz"
               href="{{ url('cfg_entMenu_listPais') }}">
                <i class="fas fa-th-list" aria-hidden="true"></i>
            </a>

            <a role="button" class="btn btn-outline-secondary" title="Configurar este menu"
               href="{{ url('cfg_entMenu_list', {'entMenu': e.id}) }}">
                <i class="fas fa-cogs" aria-hidden="true"></i>
            </a>

        {% else %}
            {# NÃO é um menu raíz #}
            <a role="button" class="btn btn-success" title="Voltar"
               href="{{ url('cfg_entMenu_list', {'entMenu': e.superPai.id}) }}">
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
            </a>
        {% endif %}

    {% else %}

        {% if e.paiUUID|default('') == '' %}
            {# é um menu raíz #}
            <a role="button" class="btn btn-secondary" title="Listar menus raíz"
               href="{{ url('cfg_entMenu_listPais') }}">
                <i class="fas fa-th-list" aria-hidden="true"></i>
            </a>
        {% else %}
            {# NÃO é um menu raíz #}
            <a role="button" class="btn btn-success" title="Voltar"
               href="{{ url('cfg_entMenu_list', {'entMenu': e.superPai.id}) }}">
                <i class="fas fa-arrow-left" aria-hidden="true"></i>
            </a>
        {% endif %}

    {% endif %}

{% endblock %}
