<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">

            {% for ent in mainMenu %}

                {% if ent.pai.tipo == 'ENT' %}
                    <li class="nav-item">
                        <a class="nav-link" href="{{ ent.pai.app.route is defined ? url(ent.pai.app.route) : '' }}">
                            <i class="nav-icon {{ ent.pai.icon }}"></i>{{ ent.pai.label }}</a></li>
                {% elseif ent.filhos is defined %}
                    <li class="nav-item nav-dropdown">
                        <a class="nav-link nav-dropdown-toggle" href="#">
                            <i class="nav-icon {{ ent.pai.icon }}"></i>
                            {{ ent.pai.label }}
                        </a>


                        <ul class="nav-dropdown-items" style="background-color: black">
                            {% for filho in ent.filhos %}
                                {% if filho.tipo == 'ENT' %}
                                    <li class="nav-item" style="{{ filho.cssStyle != null ? filho.cssStyle : '' }};">
                                        <a class="nav-link" href="{{ filho.app.route and routeExists(filho.app.route) ? url(filho.app.route) : '' }}">
                                            <i class="nav-icon {{ filho.icon }}"></i>{{ filho.label }}</a></li>
                                {% else %}
                                    <li class="nav-title">{{ filho.label }}</li>
                                {% endif %}
                            {% endfor %}
                            <li class="nav-item" style="background-color: white; height: 1px"></li>

                        </ul>


                    </li>

                {% endif %}




            {% endfor %}


        </ul>
    </nav>
    <button class="sidebar-minimizer brand-minimizer" type="button"></button>
</div>