<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/png" href="{{ asset('images/favicon.png') }}"/>


    <script src="{{ asset('build/static/pace.min.js') }}"></script>
    <script>
        window.onbeforeunload = function(e) {
            document.getElementById('preloader').style.display = '';

            for (let i = 0; i < document.getElementsByClassName("blur-on-pace").length; i++) {
                document.getElementsByClassName("blur-on-pace")[i].style.filter = 'blur(3px)';
            }
        };

        Pace.on('start', function (e) {
            document.getElementById('preloader').style.display = '';

            for (let i = 0; i < document.getElementsByClassName("blur-on-pace").length; i++) {
                document.getElementsByClassName("blur-on-pace")[i].style.filter = 'blur(3px)';
            }
        });

        Pace.on('hide', function (e) {
            document.getElementById('preloader').style.display = 'none';
            for (let i = 0; i < document.getElementsByClassName("blur-on-pace").length; i++) {
                document.getElementsByClassName("blur-on-pace")[i].style.filter = '';
            }
        });
    </script>
    <link href="{{ asset('build/static/pace-theme-loading-bar.css') }}" rel="stylesheet"/>

    <title>{{ page_title is defined ? page_title ~ ' - Crosier v.0.0.1' : 'Crosier v.0.0.1' }} </title>

    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('build/bse_layout.css') }}">
    {% endblock %}

    {% block up_scripts %}


    {% endblock %}

</head>

{% block body %}
{% endblock %}



<script src="{{ asset('bundles/fosjsrouting/js/router.min.js') }}"></script>
<script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/es6-promise/4.0.5/es6-promise.auto.min.js"></script>
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/bse_layout.js') }}"></script>

{% block down_scripts %}
{% endblock %}

</html>
