{% extends '@CrosierLibBase/base.html.twig' %}

{% block body %}

    <div class="container-fluid">

        <div id="preloader"
             style="display: none; position: fixed; left: 0; top: 0; z-index: 1999; width: 100%; height: 100%; overflow: visible; background:rgba(255,255,255,0.5);"></div>


        {{ include('header.html.twig') }}

        <!-- Begin page content -->
        <main role="main" class="container" style="margin-top: 80px">
            <div class="card">
                <h5 class="card-header">Apps</h5>
                <div class="card-body">
                    <div class="list-group">
                        {% for applic in modulos %}
                            <a href="{{ applic.entranceUrl }}?apiTokenAuthorization={{ app.user.apiToken }}" class="list-group-item list-group-item-action">
                                <i class="{{ applic.icon }} text-center" style="width: 30px"></i> {{ applic.nome }}</a>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </main>


        {{ include('@CrosierLibBase/footer.html.twig') }}

    </div>


{% endblock %}